$fuentePrincipal:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$colorPrimario:rgb(134, 95, 22);
$colorPrimario--hover:rgba(black,.5);
$colorPrimario--visited:black;
$min-width: 600px;